$black: #000000;
$white: #ffffff;
$violet: #5667EA;
$lime: #DBEEA8;
$blue-900: #1D2130;
$blue-300: #F0F2FE;
$gray-800: #4A4D59;
$blue-400: #E6E8F4;
$green-900: #1C4136;
$green-800: #1F483C;
$blue-50: #FBFBFF;
$gray-700: #7C7F8A;